/* .Navbar {
    align-items: center;
    display: block;

}

.link {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
#basic-nav-dropdown {
    justify-content: flex-end;
}

#logo {
    width: 250px;
    height: 100%;
}

.counter {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.counter h3 {
    padding: 10px;
}

.me-auto {
    align-items: center;
    gap: 25px;
}

.navLink {
    margin: 8px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-shadow: rgb(70, 69, 69) 0.7px 0.7px;
}

.navLink:hover {
    color: rgb(92, 91, 91);
}

.detalle {
    background-color: #e3b52c;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 12px;
    border-width: 1px;
}

.detalle:hover {
    color: rgb(67, 66, 62)
}

.cards {
    padding-top: 15px;
}

.detail {
    margin-left: 10%;
    margin-top: 15px;
}