/* .Navbar {
    align-items: center;
    display: block;

}

.link {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
#basic-nav-dropdown {
    justify-content: flex-end;
}

#logo {
    width: 250px;
    height: 100%;
}

.counter {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.counter h3 {
    padding: 10px;
}