/* .Navbar {
    align-items: center;
    display: block;

}

.link {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */
#basic-nav-dropdown {
    justify-content: flex-end;
}